# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# WebdriverIO specific files
allure-results/
allure-report/
wdio-*.json

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
